table {
      width:70%;  /* 표의 너비 */
      border:1px solid #222; /* 1픽셀짜리 표 테두리 */
      border-collapse: collapse; /* 중복되는 표와 셀의 테두리를 한 줄로 표시 */
    }
	
    thead {
      background:#eee;  /* 제목 행의 배경 색 */
    }
	
    th, td {
      border:1px solid #ccc; /* 1픽셀짜리 셀 테두리 */
      padding:5px;  /* 셀 테두리와 셀 내용 사이의 여백(패딩) */
      font-size:0.8em;  /* 셀의 글자 크기 */
	}
	
    /* * = 전체 선택자 */
	* {
		box-sizing:border-box;
		}
	
	body{
		background:#222; margin:0; font-size:14px;
	}
	li, p {
		line-height:28px;
	}
	
	#container {
		width:900px; background:#fff; position:absolute; left:50%; margin-left:-450px; height:100%;
	}
	
	/* float 방향을 나타낸다. */
	aside{float:left; width:300px; padding:20px 50px; height:100%; background:rgb(216,216,216);}
	/* 자식이 합의값은 부모를 넘을 수는 없다. */
	#main{float:right; width:600px; height:100% padding:20px;}
	
	section{
		width:500px;
		padding:20px;
		margin:10px;
		border-bottom:1px dotted #222;
	}
	section>p, section>table{margin-left:50px;}
	
	
	
	
	
	